<head>
    <title>after-uber</title>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">AfterUber</span>
            </div>
        </div>
    </nav>
    {{> hello}}
</div>
</body>

<template name="hello">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" name="from" placeholder="From" value={{fromValue}}>
        </div>
        {{#if fromVariants}}
            <ul class="list-group">
                {{#each fromVariants}}
                    <li class="list-group-item">
                        <a href="#" class="setFromBtn">
                            {{formatted_address}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        <div class="form-group">
            <input type="text" class="form-control" name="to" placeholder="To" value={{toValue}}>
        </div>
        {{#if toVariants}}
            <ul class="list-group">
                {{#each toVariants}}
                    <li class="list-group-item">
                        <a href="#" class="setToBtn">
                            {{formatted_address}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
                Get Estimates
            </button>
        </div>
    </form>

    {{#if estimates}}
        <ul class="list-group">
            {{#each estimates}}
                <li class="list-group-item">
                    <span class="badge">
                        {{low}}-{{high}}
                    </span>
                    {{service}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
</template>
